/*GLOBAL RULES START*/
body{
	background-color: #E0E0EB;
	font-family: "Open Sans",sans-serif;
	color: black !important;
	overflow-x: hidden;
}

textarea {
    resize: none;
}

hr {
	border-color: black;
}

.basic-heading {
	text-align: center;
	text-transform: uppercase;
	color: #000063;
	font-size: 32px;
}

.event-heading h1 {
	font-size: 25px !important;
}
 
.main-landing-message li{ 
  padding:3px
}

#message{
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	
}

.main-landing-message{
  background-color: #ededec;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  position: relative;
  text-align: center;
  border-width: 4px;
  padding-bottom: 15px;
}

.eventDetails, .result, .home-columns  {
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
	padding: 5px;
	background-color: #fff;
}

.evTitle {/*Home, Events & Articles*/
	text-align: left;
	font-weight: 800 !important;
	font-size: 25px !important;
	color: #2E5CE6;
}

.evDescription{/*Events & Articles*/
	font-size: 15px;
	text-align: justify;
}

.result, .home-columns  {
	margin-top: 20px;
	margin-bottom: 20px;
}

#maps {
	width: 300px;
	height: 150px;
}
/*GLOBAL RULES END*/

/*EVENTS PAGE RULES START*/
.evPlace{
	font-size: 16px;
	font-weight: bold;
}

.evDate {
	font-size: 20px;
	font-weight: bold;
	float: right;
    margin-top: 20px;
	color: #000099;
}

.showMap u {
	color: blue;
	font-size: 20px;
}

.result-description{
	font-weight: 700;
}

.custom-alert{
	margin-bottom: 0px !important;
}

.btn-block-custom {
	width: 80%;
}
/*EVENTS PAGE RULES END*/

/*ADD EVENT RULES START*/
.eventDetails{
	margin-bottom: 30px;
}

#wordsInfo {
	text-align: left;
	padding-left: 30px;
	color: green;
}

#placeGlyph span {
	right: 10px;
}

/*File Upload (Photo)*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#eventDate{
	padding-left: 5px;
}
/*ADD EVENT RULES END*/

/*Maybe not necessary!!*/
button {
  position: relative;
  z-index: 300;
}

/*http://stackoverflow.com/questions/18424798/twitter-bootstrap-3-how-to-use-media-queries*/
@media(min-width:992px){
  	.result {
		width: 960px;
		padding-right: 15px;
		margin-left: 0px;
  	}
	
	#message{
		width: 960px;
	}
	
	.main-landing-message{
		width: 960px;
	}
	
	.eventDetails{
		width: 960px;
	}
	
  	body{
  		background:url(../images/site/sougia1.jpg) center center no-repeat;
		background-attachment:fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.home-right-column {
		margin-left:10px;
	}

	.home-left-column {
		margin-right:10px;
	}
	
	.main-landing-message ul{
		margin: 0 auto;
		text-align: left;
		width: 70%;
		border-left-style: solid;
	  	border-color: #000063;
	}
	
	.contact-form-right{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
@media(max-width:767px){
	#message {
		top: 60px !important;
	}
}

/*BOOTSTRAP CALENDAR RULES START*/
#datetimepicker1 input:hover, #datetimepicker1 span:hover, #datetimepicker2 input:hover, #datetimepicker2 span:hover {
	cursor: pointer;
}

.day:hover{
	background-color: #A0A0A0;
	cursor: pointer;
}
.previ:hover, .next:hover, .datepicker-switch:hover{
	cursor: pointer;
}

.today {
	background-color: grey;
}

.disabled  {
	text-decoration: line-through;
}

.disabled:hover  {
	background-color: #fff;
	cursor: auto;
}
/*BOOTSTRAP CALENDAR RULES END*/

/*NAVIGATION BAR RULES START*/
#topNavigation {
	text-transform: uppercase;
	border-bottom-style: solid;
	border-bottom-color: black;
}

.topNavLi:hover {
	background-color: #337ab7;
	color: white;
}

.topNavLi a:hover {
	color: #fff !important;
}

.active>a:hover {
	color: #555 !important;
}
/*NAVIGATION BAR RULES END*/

/*SEARCH ENGINE RULES START*/
.topSearchEngine {
	top: 50px;
	position: fixed;
	background-color: black;
	width: 100%;
	text-align: center;
	height: 35px;
	z-index: 500;
}

.tseInputFields {
	top: 4px;
	position: relative;
	border-radius: 20px;
	padding-left: 10px;
}

.tseInputFields:focus {
	outline: none;
	border:1px solid red
}

#tseLocation {
	font-size: 18px;
}

.tseDateDiv{
	display: inline;
}

#glyphicon-calendar-custom {
	right: 30px;
	top: 5px;
}

#calendar-custom {
	background-color: #000;
  	border: #000;
  	width: inherit;
  	display: initial;
    right: 5px;
  	position: relative;
}

#tseSubmit{
	font-weight:700;
	right: 40px;
	color: #000;
  	background-color: #A9BFD3;
  	border-color: #fff;
}

.datepicker-dropdown {
  	z-index: 500 !important;
}
/*SEARCH ENGINE RULES END*/

/*HOMEPAGE RULES START*/
.home-events-title{
	text-align: left;
	padding-left: 20px;
	width: 80%;
	float: left;
	padding-bottom:5px;
}

.home-events-date{
	text-align: right;
	padding-right: 20px;
	width: 20%;
	float: right;
	padding-bottom:5px;
}

.articleDescr{
	text-align: left;
}

.article-title{
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
  color: #000063;
}

.home-custom-column{
	padding-right:0px;
	padding-left:0px;
}
/*HOMEPAGE RULES END*/

/*ABOUT US RULES START*/
.contact-form{
	margin-bottom: 10px;
	background-color: lightsteelblue;
	color: #000 !important;
}

.contact-form::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
.contact-form:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
.contact-form::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
.contact-form:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #000;
}

.contact-text{
	text-align: left;
}

.contact-text li{
	margin-bottom: 3px;
}
/*ABOUT US RULES END*/

/*ARTICLE RULES START*/
.responsive-img img{
	width: 100%;
	margin-top: 10px;
    margin-bottom: 10px;
}

.section-kd {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.interview-name{
	text-decoration: underline;
	font-style: italic;
}

.art-heading{
	border-left-color: #2e5ce6;
    border-left-style: solid;
    font-size: 17px;
    margin: 20px 30px;
    padding-left: 10px;
    border-right-color: #2e5ce6;
    border-right-style: solid;
    padding-right: 10px;
}
/*ARTICLE RULES END*/

/*JSSOR SLIDER START*/
.captionOrange, .captionBlack {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}

.captionOrange {
	background: #EB5100;
	background-color: rgba(235, 81, 0, 0.6);
}

.captionBlack {
	font-size:16px;
	background: #000;
	background-color: rgba(0, 0, 0, 0.4);
}

a.captionOrange, A.captionOrange:active, A.captionOrange:visited {
	color: #ffffff;
	text-decoration: none;
}

a.captionOrange:hover {
	color: #eb5100;
	text-decoration: underline;
	background-color: #eeeeee;
	background-color: rgba(238, 238, 238, 0.7);
}

.bricon {
	background: url(../img/browser-icons.png);
}

.jssorb01 {
	position: absolute;
}

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	position: absolute;
	/* size of bullet elment */
	width: 12px;
	height: 12px;
	filter: alpha(opacity=70);
	opacity: .7;
	overflow: hidden;
	cursor: pointer;
	border: #000 1px solid;
}

.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

.jssora05l, .jssora05r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(http://www.kritondromena.gr/resources/images/site/a17.png) no-repeat;
	overflow: hidden;
}

.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
    
.art-img {
	max-width: 600px;
}
/*JSSOR SLIDER END*/



/*NEW DESIGN RULES*/
.custom-container {
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.global-column {
	border-style: solid;
	border-width: thin;
	padding: 0px 5px 5px;
	background-color: #fff;
}
@media(min-width:768px){
	.global-right-column{
		top:100px;
		position:fixed;
		width: 25%;
	}
	.calendar-custom {
		right: 15px;
	}
}
@media(max-width:768px){
	.global-right-column{
		top:10px;
		position:relative;
	}
	.calendar-custom {
		right: 45px;
	}
}

.calendar-custom {
	background-color: #fff;
  	border: #000;
  	width: inherit;
  	display: initial;
    
    margin-top: 12px;
  	position: absolute;
  	padding:0px;
}
.se-inputs {
	width: 90%;
	margin-top: 5px;
	padding: 5px 20px 5px 20px;
}

.custom-btn {
	font-family: Arial;
	font-size: 20px;
	background: #23527c;
	color: #fff;
	border: none;
}

.custom-select {
	border: none;
}

.custom-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.tse-header-container{
	background-color: #99c2ff;
    margin-left: -5px;
    margin-right: -5px;
}

.tse-header{
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

.tse-header-main{
	font-size: 22px;
}
.tse-header-second{
	font-size: 16px;
}